{% extends "base.html" %}

{% block body_block %}

<script>
  // Set the date we're counting down to
  
  function countdownTimeStart(){
  var startTime = "{{ timer }}";
  var countDownDate = new Date(startTime).getTime();
  
  // Update the count down every 1 second
  var x = setInterval(function() {
  
      // Get todays date and time
      
      var now = new Date().getTime();
      // console.log('nowww: ',startTime, now, new Date( Date.parse(startTime)));
      // Find the distance between now an the count down date
      var distance = countDownDate - now;
      
      console.log('nowww: ',startTime, new Date().toString(), distance);


      if( isNaN(countDownDate) )
      {
          return "";
      }

      console.log( countDownDate + " " + now, distance);

      if (countDownDate < now) {
          var milisec_diff = now - countDownDate;
      }else{
          var milisec_diff = countDownDate - now;
      }

      var days = Math.floor(milisec_diff / 1000 / 60 / (60 * 24));

      var date_diff = new Date( milisec_diff );

      document.getElementById("timer").innerHTML =  days + " Days "+ date_diff.getHours() + " Hours " + date_diff.getMinutes() + " Minutes " + date_diff.getSeconds() + " Seconds";

      // // Time calculations for days, hours, minutes and seconds
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      
      // // Output the result in an element with id="timer"
      // document.getElementById("timer").innerHTML = hours + "h "
      // + minutes + "m " + seconds + "s ";
      
      // If the count down is over, write some text 
      if (distance < 0) {
          clearInterval(x);
          document.getElementById("timer").innerHTML = "All tasks completed";
      }
  }, 1000);
  }

  countdownTimeStart();  
  </script>


<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the Ufaber !</h1>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</h2>

        <div>
          {% if isWorking == True %}
            <label><b>Project Name</b></label> : {{project_name|capfirst}} <br>
            <label><b>Working Task Name</b></label> : {{task_name}} <br>
            <div><label><b>Total Time</b></label> : <label id="timer"></label></div>
          {% else %}
            <h5>No working project</h5>
          {% endif %}
          <!-- <button onclick="countdownTimeStart()">Start Timer</button> -->
      
        </div>
    {% else %}
        <h2>Register or Login if you'd like to</h2>
    {% endif %}

    
  </div>

 
</div>
{% endblock %}